.wrapper {
  .addBtn {
    background-color: var(--color-light-blue);
    border: none;
    border-radius: 100px;
    height: 32px;
    padding: 4px 26px;
    color: var(--color-dirt-snow);
    font-weight: 600;
    font-size: 14px;
  }
}