.wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  background: rgb(22,21,23);
  background: linear-gradient(0deg, rgba(22,21,23,0) 0%, rgba(22,21,23,0.77) 12%, rgba(22,21,23,1) 20%, rgba(22,21,23,1) 50%, rgba(22,21,23,1) 80%, rgba(22,21,23,0.7707457983193278) 85%, rgba(22,21,23,0) 100%);
  .list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 800px;
    margin: 0 auto;
    overflow-x: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .item {
      position: relative;
      margin-right: 60px;
      .link {
        text-decoration: none;
        color: white;
      }
      &:last-child {
        margin-right: 0px;
      }
      &_active {
        padding: 7px 27px;
        border-radius: 100px;
        background: white;
        height: 35px;
        .link {
          color: #161517;
        }
      }
    }
  }
}