@import '../../app/styles/mixins';

.tableIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  @include plate;
  padding: unset;
}

.label {
  font-size: 15px;
  font-weight: 600;
}