.logo {
  display: flex;
  align-items: center;
  font-family: "Kelly Slab", sans-serif;
  color: white;
  font-size: 36px;
  text-transform: uppercase;
}

.logoImg {
  width: 86px;
  background: black;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 20px;
}